/* BOTONES */
.contBotones {
  display: flex;
  justify-content: center;
}

.botonesForm {
  display: inline;
  width: 150px;
  background-color: $color-fondo;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  color: $color-fuente-primario;
  border-radius: 3px;
  transition: all 2s;

  &:hover {
    background-color: $color-resaltador;
    color: $color-fuente-secundario;
  }
}