body {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  background-image: url(../img/fondo-hoja.jpg);
  background-repeat: no-repeat;
  background-size: cover;


  header {
    min-height: 10vh;
  }

  main {
    min-height: 80vh;
  }

  footer {
    min-height: 10vh;
  }
}