/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  background-image: url(../img/fondo-hoja.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;




  h3 {
    text-align: left;
    text-decoration: underline;
    padding: 5px;
    font-size: 30px;
  }

}