body {
  font-family: 'Caveat', cursive;
  font-weight: bold;

}

.fondo {
  background-image: url(../img/fondo-hoja.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}