/* MEDIAS QUERIES */
/* VISTA TABLET */
@media (max-width: 1023px) {


  /* QUIENES SOMOS */
  ul {
    display: flex;
    align-items: center;
  }

  .contCarru {
    width: 95vw;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contImg1 {
    width: 100%;
  }

  .imgCondi {
    width: 100%;
    object-fit: contain;
    height: auto;
    min-height: 100px;
  }

  .carousel-item {

    height: 100%;
  }


  /* FOOTER */
  .pie {
    justify-content: space-between;
  }

  .redes {
    display: none;
  }

  .logoSlv {
    align-items: center;
    justify-content: center;
    width: auto;
  }

  h3 {
    font-size: 25px;
  }

  .redes {
    width: auto;
  }

  /* SUBTITULO */

  .subtitulo h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .menuNav a {
    padding: 0 10px;
    margin: 10px 0;
    transition: all 0s;
  }
}

/* vista celu */
@media (max-width: 767px) {
  /* ENCABEZADO */


  .cesta {
    width: 40px;
  }

  .logo {
    width: 80px;
  }

  /* PORTADA */
  .imgCondi {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  /* BOTONES */

  .botonesForm {
    width: 100px;
  }

  input,
  textarea {
    width: 300px;
  }

  /* PROMOCIONES */
  .promoCondi {
    width: 350px;
    height: 700px;
  }

  .promoImgp {
    display: flex;
    align-items: center;
    font-size: 20px;

  }

  /* PRODUCTOS */
  .productos {

    width: 350px;
  }

  .cardDetalle {
    max-width: 450px;
    /* O ajusta el tamaño según tus necesidades */
  }

  .cardDetalle img {
    width: 100%;

  }

  .cardDetalle h5 {
    margin-top: 20px;
  }

  .cardDetalle div {
    padding-inline: 0;
  }

  /* SUCURSALES */

  .prin {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }



  iframe {
    width: 100%;
  }

  /* FOOTER */



  .logoSlv {
    align-items: center;
    justify-content: center;
  }


}



@media (max-width: 480px) {
  /* ENCABEZADO */

  H1 {
    font-size: 2.5rem;
  }

  .cesta {
    width: 20px;
  }

  .logo {
    width: 60px;
  }


  /* SUBTITULO */

  .subtitulo h2 {
    font-size: 1.4rem;
  }

  /* PORTADA */
  .imgCondi {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .contImg1 p,
  .tituPor {
    font-size: 30px;

  }

  .menuNav a {
    font-size: 1rem;
  }

  /* FOOTER */
  .pie {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .logoRedes {
    padding-right: 0px;
    justify-content: center !important;
  }
}