/* SUCURSALES */
.prin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  height: 250px;
  min-width: 300px;
}

.sucPrin {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  font-size: 25px;
  text-align: left;
  width: 400px;
  height: 250px;
  margin: 20px;
}

iframe {
  width: 400px;
  max-width: 400px;
  height: 250px;
  display: inline-block;
}

img {
  width: 30px;
}

.sucPrin p {
  display: inline;
  font-size: 25px;
}